@import "boilerplate.css";
#loader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    z-index: 99;
    background:  #D8D8D8 url(img/loader.gif) no-repeat scroll 50% 50%;    
}

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
    background-color: #AAA;
}

header,
#header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    line-height:45px;
    background-color:#d51875;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
    background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    padding:0;
    color:#eee;
    font-size:20px;
    text-align:center;
}

header a,
#header a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

header h1,
#header h1 {
    font-size:20px; 
    line-height: 45px;
    text-align: center;
    padding: 0;
    margin:0;
}

footer,
#footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:48px;
    background-color:#222;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
    background-image:-o-linear-gradient(top, #999, #666 2%, #222);
    padding:0;
    border-top:1px solid #444;
}


#content .ng-scope > form {
    padding: 55px 0 0 0;
}

#wrapper {
    position:absolute; z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    background:#aaa;
    overflow:auto;
}
#wrapper label,
#wrapper input {
    z-index:999;
}

#scroller {
    position:absolute; z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}

#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

#scroller li {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
}

footer > ul,
#footer > ul {
    margin: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

footer > ul > li,
#footer > ul > li {
    /*float: left;*/
    display: inline-block;
    overflow: hidden;
}

footer > ul > li > a,
#footer > ul > li > a {
    display: block;
    width: 40px;
    height: 20px;
    padding-top: 25px;
    text-align: center;
    text-decoration: none !important;
    color: #fff !important;
}

footer > ul > li > a.active,
#footer > ul > li > a.active,
footer > ul > li > a:active,
#footer > ul > li > a:active, 
footer > ul > li > a:hover,
#footer > ul > li > a:hover {
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #666), color-stop(0.02, #999), color-stop(1, #222));
    background-image:-moz-linear-gradient(top, #666, #999 2%, #222);
    background-image:-o-linear-gradient(top, #666, #999 2%, #222);
}
