$default-text-color: #222
$lighter-text-color: #888
$default-view-bg-color: #D2D2D2
$default-text-shadow-color: rgba(#B5B5B5, 0.6)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 1px

@import "boilerplate.css"
@import "icons.css"
@import "compass/css3"

/* minimal Button Style
@mixin minimal
  background: #e3e3e3
  border: 1px solid #bbb
  @include border-radius (3px)
  @include box-shadow(inset 0 0 1px 1px #f6f6f6)
  color: #333
  line-height: 1
  padding: 8px 0 9px
  text-align: center
  text-shadow: 0 1px 0 #fff
  width: 150px
  display: inline-block
  &:hover
    background: #d9d9d9
    @include box-shadow(inset 0 0 1px 1px #eaeaea)
    color: #222
    cursor: pointer
  &:active
    background: #d0d0d0
    @include box-shadow(inset 0 0 1px 1px #e3e3e3)
    color: #000

#loader
  position: absolute
  top: 0
  bottom: 0%
  left: 0
  right: 0%
  z-index: 99
  background: #d8d8d8 url(img/loader.gif) no-repeat scroll 50% 50%

a
  text-decoration: none
  color: #000
  &:link, &:hover, &:active
    text-decoration: none
    color: #000

a:active, a:focus, a:hover, a:link, a, button, input[type=submit]
  outline: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body, ul, li
  padding: 0
  margin: 0
  border: 0

body
  font-size: 14px
  -webkit-user-select: none
  -webkit-text-size-adjust: none
  font-family: helvetica
  background-color: $default-view-bg-color

header, #header
  position: absolute
  z-index: 2
  top: 0
  left: 0
  width: 100%
  height: 45px
  line-height: 45px
  background-color: #d51875
  @include background-image(linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%))
  padding: 0
  color: #eee
  text-align: center

header a, #header a
  color: #f3f3f3
  text-decoration: none
  font-weight: bold
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)

header h1, #header h1
  font-size: 20px
  line-height: 45px
  text-align: center
  padding: 0
  margin: 0 auto
  overflow: hidden
  text-overflow: ellipsis

footer, #footer
  position: absolute
  z-index: 2
  bottom: 0
  left: 0
  width: 100%
  height: 48px
  background-color: #222
  @include background-image(linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%))
  padding: 0
  border-top: 1px solid #444

footer > ul, #footer > ul
  display: table
  width: 100%
  table-layout: fixed
  > li
    display: table-cell
    overflow: hidden
    line-height: 100%
    > a
      display: block
      width: auto
      height: 43px
      margin: 0
      text-align: center
      padding: 0 1px
      color: #fff !important
    > a.active
      @include background-image(linear-gradient(top, #666666, #999999 2%, #222222))

nav, #nav
  > ul
    > li
      @include background-image(linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%))
      overflow: hidden
      list-style-type: none
      display: block
      a
        display: table
        width: 100%
        height: 100%
        float: left
        color: $default-text-color !important
      a.active
        @include background-image(linear-gradient(top, rgba(232,255,193,1) 0%,rgba(132,229,52,1) 100%))
      *
        vertical-align: middle
        text-align: left
      a > span
        display: table-cell
        padding: 0
        width: 100%
        height: 45px
        min-height: 45px

#content .ng-scope > form
  padding: 55px 0 0 0

#wrapper
  position: absolute
  z-index: 1
  top: 45px
  bottom: 48px
  left: 0
  width: 100%
  background: $default-view-bg-color
  overflow: auto
  label, input
    z-index: 999

#wrapper
  width: 100%

#scroller
  position: relative
  z-index: 1
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  width: 100%
  padding: 0

.inner-wrap
  padding: 0 10px

/* listview

ul.listview > li
  overflow: hidden
  padding: 0 10px
  line-height: 100%
  height: auto
  border-bottom: 1px solid #ccc
  border-top: 1px solid #fff
  background-color: #fafafa
  h2
    font-size: 18px
    font-weight: bold
    margin: 8px 0 4px 0
  p
    margin: 4px 0 8px 0
  > a
    position: relative
    display: block
    font-size: 14px
    font-weight: normal
    color: $default-text-color
    text-decoration: none
    padding-right: 30px
    &:after
      content: '>'
      position: absolute
      top: 10px
      font-weight: bold
      font-size: 18px
      right: 5px
      color: $default-text-color

ul.listview-splitbtn > li
  overflow: hidden
  position: relative
  padding: 0 10px
  line-height: 100%
  height: auto
  border-bottom: 1px solid #ccc
  border-top: 1px solid #fff
  background-color: #fafafa
  h2
    font-size: 18px
    font-weight: bold
    margin: 8px 0 4px 0
  p
    margin: 4px 0 8px 0
  > a
    position: relative
    overflow: hidden
    display: block
    font-size: 14px
    font-weight: normal
    color: $default-text-color
    text-decoration: none
    padding-right: 30px
    &:nth-child(1n+1)
      background: none
    &:nth-child(1n+2)
      color: transparent
      position: absolute
      width: 40px
      height: 40px
      right: 0
      top: 0
      margin: 0
      padding: 0
      z-index: 2
      background: url('./img/plus-circle-frame.png') no-repeat scroll 50% 50%

ul.listview > li,
ul.listview-splitbtn > li
  @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%))
  &:active,&:hover
    @include background-image(linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%))

.inset
  margin: 10px
  padding: 5px
  border: 1px solid $lighter-text-color
  @include border-radius(5px)
  > li
    @include border-radius(5px)

/* forms begin =>

input, textarea, select, .uneditable-input
  display: inline-block
  width: 210px
  height: 18px
  padding: 4px
  margin-bottom: 9px
  font-size: 13px
  line-height: 18px
  color: #555555
  background-color: #ffffff
  border: 1px solid #cccccc
//  -webkit-border-radius: 3px
//  -moz-border-radius: 3px
//  border-radius: 3px

//input, textarea
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
//  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
//  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
//  -moz-transition: border linear 0.2s, box-shadow linear 0.2s
//  -ms-transition: border linear 0.2s, box-shadow linear 0.2s
//  -o-transition: border linear 0.2s, box-shadow linear 0.2s
//  transition: border linear 0.2s, box-shadow linear 0.2s

//input:focus, textarea:focus
//  border-color: rgba(82, 168, 236, 0.8)
//  outline: 0
//  outline: thin dotted \9
//  /* IE6-9
//  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
//  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)

form
  fieldset
    border: 1px solid $lighter-text-color
    @include border-radius(5px)
    padding: 10px
    margin: 5px
    background-color: #EAEAEA
  legend
    font-weight: bold
    font-size: 16px
    text-transform: uppercase
    @include single-text-shadow
  .row
    position: relative
    clear: both
    overflow: hidden
    height: 40px
    &.align-left
      text-align: left
    &.row-textarea
      height: auto
    &.row-textarea > textarea
      width: 100%
      border: 0 none
      margin: 5px 0 9px 0
      padding: 10px 10px 10px 14px
    > label
      padding-top: 3px
      display: block
      font-weight: bold
      > input[type=radio],
      > input[type=checkbox]
        position: absolute
        right: 10px
        top: 0
        width: auto
    > input
      position: absolute
      right: 10px
      top: 0
    > label.bg
      border: 1px solid #dedede
      @include border-radius(5px)
      background-color: #fff
      padding: 10px
      > input[type=radio],
      > input[type=checkbox]
        position: absolute
        top: 10px
    .help
      width: 180px
      font-size: 12px
      color: $lighter-text-color
      margin: 0
    &.group
      > label
        width: 90px
        text-align: center
        display: inline-block
        font-weight: bold
        > input[type=radio],
        > input[type=checkbox]
          width: auto
          margin: 0 50%
          padding: 0
          position: relative
    &.button-row
      text-align: right
      padding: 0 5px

a.btn, button, input[type=submit]
  @include minimal
  margin-bottom: 10px

/* <= forms end

header a.btn.back,
#header a.btn.back
  @include minimal
  position: absolute
  line-height: 100%
  left: 10px
  top: 10px
  white-space: nowrap
  width: auto
  overflow: hidden
  text-overflow: ellipsis
  max-width: 70px
  padding: 6px 10px

/* => dialogs start
div.dialog
  position: absolute
  top: 0
  bottom: 0%
  left: 0
  right: 0%
  z-index: 99
  background-color: rgba(0,0,0,0.8)
  .wrapper
    background-color: #d8d8d8
    text-align: center
    width: 90%
    margin: 35px auto 0 auto
    padding: 10px
    border: 1px solid $lighter-text-color
    @include border-radius(5px)
  ul
    list-style-type: none
    left: 0
    margin: 0
    padding: 0
    li
      padding: 5px 0
      button
        width: 90%
        padding: 10px

/* <= dialogs end

/* span-list is a comma seperated list of items
p.span-list
  white-space: nowrap
  > span
    &:before
      content: ", "
      padding: 0
      margin: 0

/* show / hide sidebar navigation
nav, #nav
  display: none

@media screen  and (orientation:landscape) and (min-width: 600px)
  #footer, footer
    display: none!important
  nav, #nav
    display: block
    position: absolute
    top: 45px
    width: 20%
    border-right: 1px solid #BFBFBF
    z-index: 2
  #wrapper
    left: 20%
    width: 80%
    bottom: 0px
  nav, #nav
    bottom: 0px

@media screen and (orientation: portrait) and (max-width: 600px)
  #footer, footer
    display: block
  nav, #nav
    display: none
