<div ng-controller="DemoCntl">
    <div id="header">
        <h1>{{txtHeader}}</h1>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
            <p>Dies ist ein Test</p>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#start">Start</a></li>
            <li><a href="#demo">Demo</a></li>
        </ul>
    <div>
</div>
