<div ng-controller="DemoCntl">
    <div id="header">
        <a href="{{previousPage.hash}}" ng-show="previousPage.txtHeader" class="btn back">{{previousPage.txtHeader}}</a>
        <h1>{{txtHeader}}</h1>
        <div style="display: inline-block; position: absolute; top: 0px; right: 5px; width: 40px; font-size: 14px; font-weight: normal;">Hello!</div>
    </div>
    <div id="wrapper">
        <div id="scroller">
            <div class="inner-wrap">
                <h2>This is a demo page</h2>
                <p>This page has a custom header and footer.</p><p>You can do this by adding containers with id "header" and/or "footer" to your partial. The global header and/or footer will then be hidden and the custom ones are shown.</p>
                
            </div>
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#start">Start</a></li>
            <li><a href="#demo">Demo</a></li>
        </ul>
    </div>

    <div id="nav">
        <ul>
            <li><a href="#start"><span>Start</span></a></li>
            <li><a href="#demo"><span>Demo</span></a></li>
        </ul>
    <div>
</div>
