<div ng-controller="FormCntl">
    <div id="wrapper">
        <div id="scroller">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input name="username" type="text" />
                            <span class="help-block">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input name="password" type="password" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input name="username" type="text" />
                            <span class="help-block">Example block-level help text here.</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input name="password" type="password" />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="btn">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
