<div ng-controller="FormCntl">
    <div id="wrapper">
        <div id="scroller">
            <form class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <label class="control-label" for="username">Username</label>
                        <input name="username" type="text" />
                        <p class="help">Example help text here.</p>
                    </div>   
                    <div class="row">
                        <label class="control-label" for="password">Password</label>
                        <input name="password" type="password" />
                    </div>
                </fieldset>
                <fieldset>
                    <legend>I am legend</legend>
                    <div class="row">
                        <label class="bg" for"cb1">Checkbox 1<input name="cb1" type="checkbox" value="1" /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb2">Checkbox 2<input name="cb2" type="checkbox" value="2" checked /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb3">Checkbox 3<input name="cb3" type="checkbox" value="3"  /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb4">Checkbox 4<input name="cb4" type="checkbox" value="4" checked /></label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>I am legend</legend>
                    <div class="row">
                        <label class="bg" for"cb1">Checkbox 1<input name="cb1" type="checkbox" value="1" /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb2">Checkbox 2<input name="cb2" type="checkbox" value="2" checked /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb3">Checkbox 3<input name="cb3" type="checkbox" value="3"  /></label>
                    </div>
                    <div class="row">
                        <label class="bg" for"cb4">Checkbox 4<input name="cb4" type="checkbox" value="4" checked /></label>
                    </div>
                </fieldset>
                <div class="row button-row">
                    <button class="btn">Submit</button>
                    <a href="#" class="btn">Link Button</a>
                    <button>Button</button>
                </div>
            </form>
        </div>
    </div>
</div>
