<div ng-controller="MarkupCntl">
    <div id="header">
        <a href="{{previousPage.hash}}" ng-show="previousPage.txtHeader" class="btn back">{{previousPage.txtHeader}}</a>
        <h1>{{txtHeader}}</h1>
    </div>
    <div id="wrapper">
        <div id="scroller">

<section>
<h2>Basic View Markup</h2> 
<p>Every configured route loads a partial (a piece of html) dynamically. These partials represents the pages of your mobile website or application.</p>
<p>The simplest markup looks like this:</p>
<pre><code>
&lt;div ng-controller=&quot;MyCoolCntl&quot;&gt;
    &lt;div id=&quot;wrapper&quot;&gt;
        &lt;div id=&quot;scroller&quot;&gt;
           ... the content goes here ...
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p><em>MyCoolCntl</em> is the example name of the angular controller. See <a href="http://docs.angularjs.org/guide/dev_guide.mvc.understanding_controller">Angular.js documentation</a> for further informations.</p>
<p>The both div containers with id <em>"wrapper"</em> and <em>"scroller"</em> must be there to make the header and footer sections fix and the content area scrollable. This is possible by using the <a href="http://jscrollpane.kelvinluck.com">jScrollPane Library</a>. An alternative might be <a href="http://cubiq.org/iscroll-4">iScroll4</a>, but i've replaced it by jScrollPane. (Feel free to use iScroll4 instead if you prefer it. See ng-mobile.js to get it work).</p>
</section>

<section>
<h2>Inner wrap to get some spacing</h2>
<p>If you want to add some spacing between content and the left and the right display border you can wrap your page content in a wrapper:</p>

<pre><code>
&lt;div class=&quot;inner-wrap&quot;&gt;
... the content goes here ...
&lt;/div
</code></pre>

<p>Place this wrapper inside of the container with id <em>"scroller"</em></p>
<p>This can be helpful in some cases (e.g. if you have a lot of text), but you can also use the CSS class <em>inset</em> to add some space around particular elements, like <em>ul.listview</em>, because the <em>ul.listview</em> uses 100% of screen width although inside a <em>inner-wrap.</em></p>
</section>


<section>
<h2>Header</h2>
<p>Often the header holds the page name only. This is easy. Just set an title in the controllers:</p>
<pre><code>
$scope.setHeaderText('My header text');
</code></pre>

<p>You can override the default header inside of yout partials by placing an div#header with some content. Then you can add some other markup, e.g. some buttons:</p>
<pre><code>
&lt;div id=&quot;header&quot;&gt;
    &lt;h1&gt;{ {txtHeader} }&lt;/h1&gt;
&lt;/div&gt;
</code></pre>

<h3>Back-Button</h3>
<p>You can place a back-button in your header partial or inside your custom header container. The Button text will be automatically the title of the previous seen page. The button will be hidden, if no previous page exists:</p>
<pre><code>
&lt;div id=&quot;header&quot;&gt;
    &lt;a href=&quot;&#123; &#123;previousPage.hash&#125; &#125;&quot; ng-show=&quot;previousPage.txtHeader&quot; class=&quot;btn back&quot;&gt;&#123; &#123;previousPage.txtHeader&#125; &#125;&lt;/a&gt;
    &lt;h1&gt;&#123; &#123;txtHeader&#125; &#125;&lt;/h1&gt;
&lt;/div&gt;
</code></pre>
</section>

<section>
<h2>Footer</h2>
<p>The footer contains the navigation in most cases. By default in index.html loads the partial "partials/default_navigation.html" to footer.</p>
<p>You can override the footer for some pages, if you want. Just include a #footer in the partial:</p>
<pre><code>
&lt;div id=&quot;footer&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;#start&quot; class=&quot;icon home&quot;&gt;&lt;span&gt;Start&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#basics&quot; class=&quot;icon pencil&quot;&gt;&lt;span&gt;Basics&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
<p>Another way to override is to set the global "footer" element content in your controllers:</p>
<pre><code>
$scope.setPartial('footer', 'partials/other_footer.html');
</code></pre>
</section>

<section>
<h2>Navigation</h2>
<p>By default the navigation is placed in the footer of your mobile page, like seen above. This is a good idea for portrait orientation of a mobile device. But if one rotate it, it would be nice to have navigation at the left side instead.</p>
<p>This is done by CSS media queries in ng-mobile.sass. The element <em>nav</em> will be used to show a navigation at the left, while footer is hidden.</p>
<p><em>nav</em> is placed in index.html even like <em>header</em> and <em>footer</em>. It loads the default partial "default_navigation.html" and can be overridden by a div with id "nav" in partials.</p>
<p><strong>Note:</strong> <em>Minimum width in landscape mode must be 600px, otherwise the footer remains.</em></p>
<pre><code>
&lt;div id=&quot;footer&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;#start&quot; class=&quot;icon home&quot;&gt;&lt;span&gt;Start&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#basics&quot; class=&quot;icon pencil&quot;&gt;&lt;span&gt;Basics&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;div id=&quot;nav&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href=&quot;#start&quot; class=&quot;icon home&quot;&gt;&lt;span&gt;Start&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#basics&quot; class=&quot;icon pencil&quot;&gt;&lt;span&gt;Basics&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
<p>Another way to override is to set the global "nav" element content in your controllers:</p>
<pre><code>
$scope.setPartial('navigation', 'partials/other_navigation.html');
</code></pre>
<h3>Use the same Template for footer and nav</h3>
<p>Perhaps it would be nicer to use the same template for both? Dead simple!</p>
<pre><code>
&lt;div id=&quot;footer&quot; ng-include=&quot;navInc&quot;&gt;&lt;/div&gt;
&lt;div id=&quot;nav&quot; ng-include=&quot;navInc&quot;&gt;&lt;/div&gt;
</code></pre>
<p>In your controller you have to fill the variable for "navInc" (you can rename it of course...):</p>
<pre><code>
$scope.navInc = 'partials/my_custom_navigation.html';
</code></pre>
<p>Another way to override is to set the global "nav"  and "footer" element content in your controllers:</p>
<pre><code>
$scope.setPartial('footer', 'partials/other_navigation.html');
$scope.setPartial('navigation', 'partials/other_navigation.html');
</code></pre>
<p>In this case you should not have a #footer and #nav containers in your partial...</p>
<h3>No left sided navigation please!</h3>
<p>If you don't want to use left side navigation, it is neseccary you override the media query (see ng-mobile.sass) in your custom-theme.sass.</p>
</section>

        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#start" class="icon home"><span>Start</span></a></li>
            <li><a href="#basics" class="icon pencil"><span>Basics</span></a></li>
            <li><a href="#markup" class="icon stack"><span>Markup</span></a></li>
        </ul>
    </div>
    <div id="nav">
        <ul>
            <li><a href="#start" class="icon home"><span>Start</span></a></li>
            <li><a href="#basics" class="icon pencil"><span>Basics</span></a></li>
            <li><a href="#markup" class="icon stack"><span>Markup</span></a></li>
        </ul>
    </div>
</div>
