<div ng-controller="StartCntl">
    <div id="wrapper">
        <div id="scroller">
            <div class="inner-wrap">
                <h2>Hello World!</h2>
                <p>Welcome to the Angular.js based mobile application boilerplate.</p>
                <p>This could be the basement to use the power of Angular.js in your mobile Websites and Applications.</p>
            </div>
            <ul class="listview inset">
                <li>
                    <a href="#basics">
                        <h2>Basics</h2>
                        <p>Some basic instructions</p>
                    </a>
                </li>
                <li>
                    <a href="#markup">
                        <h2>HTML Markup</h2>
                        <p>How to build a mobile page with ng-mobile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
