@import "compass/css3";

$default-font-size: 16px;

$default-text-color: #2B2B2B;
$default-text-shadow-color: rgba(#000, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-h-offset: 1px;

$default-view-bg-color: #fff;
$default-link-color: $default-text-color;
$default-header-bg-color: #e0e0e0;

$col-highlight: rgba(176,3,3,1);

$header-height: 45px;
$footer-height: 48px;

